.layout-container {
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout-main-content {
    margin-top: 64px !important;
    margin-left: auto;
    transition: margin-left 0.3s ease;
    margin-left: 200px;
}

.page-container {
    max-width: 740px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.layout-main-content.expanded {
    margin-left: 200px;
}

.layout-main-content.collapsed {
    margin-left: 72px;
}

#root {
    width: 100%;
}