.forgot-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 104px);
}

.forgot-wrapper {
    width: fit-content;
}

.forgot-form {
    background-color: #363636;
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.forgot-form-title {
    font-size: 200%;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.forgot-input-container {
    position: relative;
}

.forgot-input-container input {
    outline: none;
    border: 1px solid #bdbdbd;
    margin: 8px 0;
}

.forgot-form button {
    outline: none;
    border: 1px solid #363636;
    margin: 8px 0;
}

.forgot-input-container input {
    background-color: #363636;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 275px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.forgot-submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #BB86FC;
    color: #FFFFFF;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.forgot-signup-link {
    color: #bdbdbd;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.forgot-help {
    color: #bdbdbd;
    font-size: 0.875rem;
    line-height: 1.25rem;
    position: fixed;
    bottom: 20px;
}

.forgot-submit:hover {
    background-color: #9A66DB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.forgot-submit:active {
    background-color: #7E4FB0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}